# Python-specific ignores
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
cfg/

# Environment variables
.env
*.env

# Virtual environments
venv/
ENV/
.venv/
env/

# IDE-specific files
.vscode/
.idea/

# Logs
*.log
*.out
*.pid

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Flask specific
instance/
.mypy_cache/
celerybeat-schedule

# Node.js / React-specific ignores
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/build
/dist
*.lock
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode/
coverage/
